{{!-- Displays the blog posts of the user --}}
<h1>Your Blog Posts</h1>
<div class="blogPost">
    <div class="container ">
        <div class="row blogList">
             
        </div>
    </div>
</div>
{{!-- Display the comments attched to the blog posts? --}}
{{!-- Create a new blog post --}}
<div id="outsideCard"class="card text-center">
  <div class="card-body">
    <div class="card">
      <ul class="list-group list-group-flush"> 
        <div class="input-group input-group-lg">
          <span class="input-group-text">Title</span>
          <input id="titleEntry" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div>
        <div class="input-group input-group-lg">
          <span class="input-group-text">Content</span><br>
          <textarea id="contentEntry" class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
        </div>
      </ul>
    </div>
    <div id="blogSuccess"class="alert alert-success" role="alert">
        Your blog has been posted.
    </div>
    <button class="btn btn-primary" id="create_blog_btn" type="submit">Save Blog</button>
    <button class="btn btn-primary" id="access_blog_btn" type="submit">All My Blogs</button>
</div>
<script src="/js/blog.js"></script>
<script src="/js/previousBlog.js"></script>